body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    
}

header {
    background-color: #26b692;
    color: white;
    padding: 40px;
    text-align: center;
}
footer {
    background-color: #26b692;
    color: white;
    padding: 40px;
    text-align: center;
}
header {
    top: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 35px;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
    color: #26b692;
}

.content {
    padding: 80px 20px 20px;  
    max-width: 800px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 0 10px black;
}

.content a:hover {
    background-color: #26b692;
    color: white;
}

footer {
    font-size: 15px;
    text-align: center;
    margin: 5px;
}

h2 {
    color: #26b692;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    background-color: white;
    color: #26b692;
}

img {
    width: 200px;
    float: right;
}

.amb{
    float: none;
    width: 220px;
}


#publicita1{
    height: 550px;
    width: 400px;
    position: relative;top: 100px;
    position: relative;right: 55px;
}
#publicita2{
    height: 550px;
    width: 400px;
    position: relative;right: 1020px;
    position: relative;top: 100px;
}
#video{
    position: relative;left: 750px;
    position: relative;top: 11px;
}
#fast{
    height: 900px;
    position: relative;right: 140px;
    position: relative;top: 800px;
}
#barra{
    height: 100px;
    width: 850px;
    position: relative;right: 900px;
    position: relative;top: -1px;
    position: relative;left: -535px;

}

#rocco{
    position: relative;left: 600px;
}
#boggi{
    height: 550px;
    width: 400px;
    position: relative;top: 100px;
    position: relative;right: 55px;
}

#ronaldo{
    position: relative;bottom: 500px;
    position: relative;left: 50px;
}
